main{
	min-height: 80vh;
}
p{
	text-align: justify;
}
img{
	width: 100%;
	border-radius: 2rem 2rem 0 0;
}
dialog > .wide{
	min-width: 50vw !important;
}
.ico{
	border-radius: 0;
	height: 100%;
	object-fit: cover;
}

.gap{
	gap: 2rem;
}

.bg{
	background-color: var(--card-background-color);
}


.sticky{
	position: sticky;
	top: 0;
}

.reset{
	padding: 0;
	margin: 0;
}

footer div div small:last-child{
	text-align: right;
}